.Loader {

}

.Loader__Container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loader__Container__dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  background-color: var(--link-color);
}

.Loader__Container__dot-3 {
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.Loader__Container__dot-2 {
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.Loader__Container__dot-1 {
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
  20% {
    transform: translateY(-10px) scale(.45)
  }
  60% {
    transform: translateY(-50px) scale(.45)
  }
  80% {
    transform: translateY(-50px) scale(.45)
  }
  100% {
    transform: translateY(0px) scale(1)
  }
}

@keyframes dot-2-move {
  20% {
    transform: translate(-10px, 8px) scale(.45)
  }
  60% {
    transform: translate(-40px, 40px) scale(.45)
  }
  80% {
    transform: translate(-40px, 40px) scale(.45)
  }
  100% {
    transform: translateY(0px) scale(1)
  }
}

@keyframes dot-1-move {
  20% {
    transform: translate(10px, 8px) scale(.45)
  }
  60% {
    transform: translate(50px, 40px) scale(.45)
  }
  80% {
    transform: translate(50px, 40px) scale(.45)
  }
  100% {
    transform: translateY(0px) scale(1)
  }
}


@keyframes index {
  0%, 100% {
    z-index: 3
  }
  33.3% {
    z-index: 2
  }
  66.6% {
    z-index: 1
  }
}
