.Sticker {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 70px;
  height: 70px;
  background: var(--sticker-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.5rem;
}