.MoviesListContainer {

}

.MoviesListContainer__MoviesContent {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .MoviesListContainer__MoviesContent {
    justify-content: center;
  }
}