.PageContainer{
  box-shadow: 0 0 4px 0 var(--main-bg-color);
  min-height: 100vh;
}

@media only screen and (min-width: 320px) {
  .PageContainer {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .PageContainer {
    width: 720px;
  }
}


@media only screen and (min-width: 1360px) {
  .PageContainer {
    width: 1280px;
  }
}