.MovieCard {
  padding: 5px;
  flex-basis: 25%;
}

.MovieCard__Inner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

@media only screen and (max-width: 1360px) {
  .MovieCard {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .MovieCard {
    flex-basis: 300px;
  }
}

@media only screen and (max-width: 375px) {
  .MovieCard {
    flex-basis: 100%;
  }
}

.MovieCard__Inner:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.MovieCard__Poster {
  width: 100%;
}

/* Add some padding inside the card container */
.MovieCard__Content {
  padding: 2px 16px;
}

.MovieCard__Poster {
  position: relative;
}

.MovieCard__Content__Title h4 {
  margin-bottom: 0;
  margin-top: 10px;
}

.MovieCard__Content__ReleaseDate {
  font-size: 0.7em;
  color: var(--main-color);
  margin: 0;
}

.MovieCard__Content__Footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}