.DropdownMenu {
  position: relative;
}

.DropdownMenu__Label {
  color: var(--main-color);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 3px 5px;
}

.DropdownMenu__ListWrapper {
  position: absolute;
  padding: 5px;
  z-index: 99;
  box-shadow: 0 0 4px 0 var(--main-bg-color);
  background: var(--white-color);
  display: none;
}

.DropdownMenu.open .DropdownMenu__ListWrapper {
  display: block;
  width: 100%;
}