.PageHeader {
  display: flex;
  justify-content: space-between;
}

.PageHeader__AuthSection {
  margin: 10px;
}

.PageHeader__AuthSection__LoggedIn h3 {
  margin: 0;
}

.PageHeader__UserDropdownItems {
  margin: 0;
  list-style-type: none;
  padding: 4px;
  font-size: 1.2em;
}
.PageHeader__UserDropdownItems li {
  margin: 8px 0;
  cursor: pointer;
  color: var(--main-color);
}
.PageHeader__UserDropdownItems li:hover{
  font-weight: 500;
}