.GenresList {
  display: flex;
  flex-wrap: wrap;
}

.GenresList_Item {
  margin-right: 5px;
  background: var(--main-bg-color);
  padding: 3px 8px;
  color: var(--main-color);
  font-size: .8em;
  font-style: italic;
}