.LoginContainer {
  display: flex;
  justify-content: center;
}

.LoginContainer__Inner {
  max-width: 500px;
}

.LoginContainer__Form__Control {
  margin-bottom: 10px;
}

.LoginContainer__Form__Alert {
  color: var(--danger-color);
  font-weight: 700;
}