:root {
  --main-color: #4a4747;
  --secondary-color: #8c8a8a;
  --link-color: #236c90;
  --link-hover-color: #115090;

  --white-color: #ffffff;
  --sticker-bg-color: #f1b722;

  --main-bg-color: #d8d3d2;
  --danger-color: #ef8484;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-color);
}