.MovieDetails {
  display: flex;
}

.MovieDetails__PosterWrapper {
  width: 40%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.MovieDetails_Poster {
  width: 100%;
  min-height: 500px;
  position: relative;
  max-width: 400px;
}

.MovieDetails_Poster img {
  width: 100%;
}

.MovieDetails__ContentWrapper {
  width: 60%;
  padding: 0 10px;
  margin-top: 10px;
}

.MovieDetails_Title h1 {
  margin: 0;
}

.MovieDetails_Title p {
  margin: 0;
  color: var(--main-color);
  font-size: 0.7em;
}

.MovieDetails_Genres {
  margin-top: 30px;
}

.MovieDetails_Overview {
  color: var(--main-color);
}

.MovieDetails_ReleaseDate {
  display: flex;
  margin-top: 20px;
}

.MovieDetails_ReleaseDate div {
  margin-right: 10px;
  color: var(--main-color);
  font-size: 0.7em;
}


@media only screen and (max-width: 768px) {
  .MovieDetails_Poster {
    min-height: auto;
  }

  .MovieDetails {
    flex-wrap: wrap;
  }

  .MovieDetails__ContentWrapper,
  .MovieDetails__PosterWrapper {
    width: 100%;
  }
}