.Filters {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-bottom: 10px;
  background: rgba(255,255,255,0.5);
}

.Filters__Inner {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 0 4px 0 var(--main-bg-color);
}

.Filters__Content {
  margin: 5px;
}

.Filters__Field {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto 5px 10px 5px;
}

.Filters__Field label {
  font-size: 0.8em;
  color: var(--secondary-color);
}